/* reset the page */
* {
    margin: 0;
    padding: 0;
}


/* font initialize */
.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* color initialize */
.dark-2{
    color: #474747;
}
.dark-1{
    color: #181818;
}
.dark-3{
    color: #757575;
}

/* background color initialize */
.primary-color-bg{
    color: #FFF8F3;
}


/* primary button style */
.btn-primary{
    background-color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    padding: 18px 35px 19px 36px;
    border-style: none;
}

/* section title and sub styles*/
.section-title{
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    font-size: 18px;
    line-height: 30px;
}



/* Header background styling */

.header{
    background-color: #FFF8F3;
    background-image: url("../images/developer.png"), url("/images/header_bg.png");
    background-repeat: no-repeat;
    /* padding-left: 27px; */
    /* max-width: 1600px; */
    /* max-height: 837px; */
    background-position: 25px 27px, bottom right;
}


/* nav styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px 0px 200px;
    padding-top: 51px;
}
/* nav-title */
.nav-title{
    font-weight: 800;
    font-size: 45px;

}
/* nav title letter color */
.nav-letter-color{
    color: #FD6E0A;
}

/* list items styling and decoration*/
nav ul{
    display: flex;
    align-items: center;

}

nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* banner styling */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 34px 0 200px;
}
.banner-content{
    /* padding: 259px 781px 184px 234px; */
    max-width: 585px;
    margin-top: 185px;
}
.banner-subtitle{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-description{
    margin-bottom: 30px;
}
.banner-content-pic{
    max-width: 584px;
    margin-top: 47px;

}

/* about section */

.about-container{
    background-color: #FFF8F3;
    max-width: 1140px;
    /* min-height: 550px; */
    margin: 130px auto;
    padding: 130px 157px 130px 156px;
    border-radius: 10px;
}

.about-container .about{
    margin: 0 auto;
    max-width: 827px;
    /* justify-content: center; */
    text-align: center;
    border: 1px solid black;
    background-color: #ffffff;
}

.about-title{
    /* margin-top: 131px; */
    margin-bottom: 30px;
}


.about-infos{
    display: flex;
    justify-content: space-between;
}
.about-infos{
    text-align: center;
    margin-top: 30px;
}
.about-info-title{
    font-size: 20px;
}
.about-info-description{
    font-size: 20px;
    font-weight: bold;
}

/* skill section styling */

.skills-container{
    max-width: 1140px;
    margin: 0 auto 130px auto;
}
.skills{
    text-align: center;
    max-width: 909px;
    margin: 0 auto;
}
.skills-title{
    margin-bottom: 30px;
}
.skills-description{
    margin-bottom: 50px;
}

/* skills-list styling */

.skills-lists{
    display: flex;
    justify-content: space-between;
}
.skills-list{
    margin-right: 24px;
    max-width: 267px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 6px 50px 0  rgba(0, 0, 0, 0.06);
}
.img-block{
    display: block;
    margin-bottom: 30px;
}

.skills-set-info{
    margin: 0 auto;
    max-width: 204px;
}
.skills-set-title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.skills-set-description{
    font-size: 16px;
    font-weight: 400;
}

/* resume section styling */

.resume-container{
    max-width: 1140px;
    margin: 130px auto;
}

.resume{
    display: flex;
    justify-content: left;
    gap: 24px;
}

.resume-title{
    margin-bottom: 113px;
    text-align: center;
}

.resume-contents-title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #474747;
}


.resume-experience{
    margin: 30px 47px 30px 0px;
    max-width: 511px;
}
.experience-title{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #474747;
}
.experience-time{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}
.experience-description{
    color: #757575;
}

.resume-download-btn{
    margin-top: 50px;
    text-align: center;
}
